.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0; */
    height: calc(100vh - 96px);
}

form {
    background-color: white;
    padding: 10px 60px;
    border-radius: 10px;
}

h1 {
    color: rgb(77, 1, 77);
    text-align: center;
    margin-bottom: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-bottom: 5px;
}

input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #808080;
}

label {
    font-size: 12px;
    color: rgba(102, 51, 153, 0.651);
    font-weight: 500;
}

span {
    font-size: 12px;
    color: #ff0000;
    padding: 4px;
    display: none;
}

button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

h6 {
    text-align: center;
}

h6 .togol-form {
    color: rgb(77, 1, 77);
    text-decoration: none;
    margin-left: 5px;
}

.form-input p {
    color: #ff0000;
    font-size: 12px;
}